<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Index</title>
</head>
<body>
<div>
  <span> 검색 범위 </span>
  <select>
    <option value="all">전체</option>
    <option value="name">이름</option>
    <option value="ssn">사번</option>
    <option value="bdate">생일</option>
    <option value="address">주소</option>
    <option value="sex">성별</option>
    <option value="salary">급여</option>
    <option value="supervisor">상급자</option>
    <option value="department">부서</option>
  </select>
</div>

<div>


</div>
</body>
</html>